.market-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: @white;
    background-color: @black;
    padding: 16px;
    position: fixed;
    z-index: 2;
    height: @header-height;
    max-height: @header-height;
    inset: 0;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);

    &__end {
        display: flex;
        flex: 0 0 25%;
        align-items: center;

        &-link {
            color: @white;
        }

        &-button {
            display: flex;
            align-items: center;
        }

        &-divider {
            display: block;
            border-left: 2px solid @white;
            height: 16px;
            margin: 0 8px;
        }

        &-arrow {
            transform: rotate(0);
            transition: transform .2s ease-in-out;
        }

        &._right {
            justify-content: flex-end;
        }

        &_arrow-up {
            transform: rotate(-180deg);
        }
    }

    &__menu {
        display: flex;
        .font-light();
    }

    &_sticky {
        position: fixed;
        top: 0;
        width: 100%;
        box-shadow: 0 1px 8px 2px @black;
    }
}
