<div class="market-header__wrapper">

    <div class="market-header__end">
        <a class="h3 market-header__end-link"
           href="#"
           [innerHTML]="'market-header.title' | translate | safeHtml">
        </a>
    </div>

    <div class="market-header__menu"></div>

    <div class="market-header__end _right">
        <ng-container *ngIf="_customerInfo; else noCustomerInfoTemplate">
            <button class="market-header__end-button"
                    type="button"
                    role="button"
                    [matMenuTriggerFor]="menu"
                    (onMenuClose)="_changeArrowState()"
                    (click)="_changeArrowState()">
                {{ 'market-header.customer-info' | translate: {userName: _customerInfo.userName} }}
                <span class="material-icons md-light market-header__end-arrow"
                      [class.market-header__end_arrow-up]="_isArrowDown">
                    arrow_drop_down
                </span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item
                        (click)="_goToAccountPage()">
                    {{'market-header.account' | translate}}
                </button>
                <button mat-menu-item
                        (click)="_logout()">
                    {{'market-header.exit' | translate}}
                </button>
            </mat-menu>
        </ng-container>
    </div>

</div>

<ng-template #noCustomerInfoTemplate>
    <button type="button"
            role="button"
            (click)="_signIn()">
        {{'market-header.sign-in' | translate}}
    </button>
    <div class="market-header__end-divider"></div>
    <button type="button"
            role="button"
            (click)="_signUp()">
        {{'market-header.sign-up' | translate}}
    </button>
</ng-template>
